/* CSS syntax for a class */
.relative {
    position: relative;
    width: 95%;
    height: 300px;
    padding: 5px;
    margin-bottom: 12px;
    border: 2px solid #000;
}

.absolute {
    /* position: static;
    position: relative;
    position: fixed;
    bottom: 14px;
    right: 14px;
    width: 300px; */
    position: absolute;
    top: 80px;
    right: 0;
    width: 80%;
    height: 100px;
    padding: 12px 0px 0px 12px;
    border: 2px dashed #000;
    z-index: 1;
}

.sticky {
    position: sticky;
    top: 0;
    padding: 5px;;
    margin-bottom: 12px;
    background-color: greenyellow;
    border: 2px solid green;
}

/* CSS syntax for an ID */
#secondPara {
    /* text */
}

/* li {
    color: red;
} */

/* 
html {
    property: value;
}    
*/